
/*  testing this file */
.test {
    font-size: x-large;
    margin: 15rem;
}

.class {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    background-color: dodgerblue;
}

.item {
    font-size: 3rem;
    color: black;
    background-color: orange;
    text-align: right;
}